@model CrmApplication.Entites.Product

<form asp-action="Delete" id="formProductDelete">
    <input type="hidden"  asp-for="Id"/>
    <input type="hidden"  asp-for="Name"/>
    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StockAmount)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.StockAmount)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VatRate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.VatRate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Image)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </dl>
    </div>
</form>
